ELASTIC_JAVA_OPTS=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SECURE=

GOOGLE_CREDS_PATH=
IMAGE_EMBEDDING_PROJECTNAME=
SERVICE_VERSION=

TELEGRAM_TOKEN=

POSTGRES_USER=memelo
POSTGRES_PASSWORD=memelo
POSTGRES_DB=telegram