config.yml
.vscode
.idea/*
!.idea/runConfigurations

**/.env
node_modules/
frontend/dist/

/webapp-service/frontend/dist
/webapp-service/design/
/webapp-service/frontend-2/dist
/webapp-service/frontend-2/.vite