server {
    listen 443 ssl;
    server_name {{ proxy_domain }};
    ssl_certificate     /etc/letsencrypt/live/{{ proxy_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ proxy_domain }}/privkey.pem;

    access_log {{ nginx_log_dir }}/{{ proxy_domain }}-access.log;
    error_log  {{ nginx_log_dir }}/{{ proxy_domain }}-error.log;

    location /.proxy/storage-service/ {
        client_max_body_size {{ nginx_max_body_size }};
        auth_basic           "{{ nginx_htpasswd_realm }}";
        auth_basic_user_file {{ nginx_htpasswd_file }};
        proxy_pass           http://localhost:{{ storage_service_port }}/;
        proxy_read_timeout   {{ nginx_proxy_read_timeout }};
    }

    location /.proxy/telegram-service/ {
        client_max_body_size {{ nginx_max_body_size }};
        auth_basic           "{{ nginx_htpasswd_realm }}";
        auth_basic_user_file {{ nginx_htpasswd_file }};
        proxy_pass           http://localhost:{{ telegram_service_port }}/;
        proxy_read_timeout   {{ nginx_proxy_read_timeout }};
    }

    location /.proxy/webapp/ {
        client_max_body_size {{ nginx_max_body_size }};
        auth_basic           "{{ nginx_htpasswd_realm }}";
        auth_basic_user_file {{ nginx_htpasswd_file }};
        proxy_pass           http://localhost:{{ webapp_service_port }}/;
        proxy_read_timeout   {{ nginx_proxy_read_timeout }};
    }
}
