log:
  Level: ${log_level}

server:
  ListenAddress: :${container_port}

temp-storage:
  Endpoint: ${temp_storage_endpoint}
  AccessKey:
  SecretKey:
  Bucket: ${temp_storage_bucket}
  Secure: ${temp_storage_secure}

ffmpeg:
  FfmpegBinary: ffmpeg
  FfprobeBinary: ffprobe
  CpuLimit: 0
  ThreadsLimit: 0

job:
  MaxConcurrentJobs: 4
  JobTtlSeconds: 3600
