IMAGE_EMBEDDING_PROJECTNAME=

IMAGE_STORAGE_S3_ENDPOINT=localhost:9000
IMAGE_STORAGE_S3_ACCESSKEY=minio123
IMAGE_STORAGE_S3_SECRETKEY=minio123

METADATA_STORAGE_ELASTIC_ADDRESSES=http://localhost:9200
METADATA_STORAGE_ELASTIC_USERNAME=elastic
METADATA_STORAGE_ELASTIC_PASSWORD=elastic

TAG_STORAGE_ELASTIC_ADDRESSES=http://localhost:9200
TAG_STORAGE_ELASTIC_USERNAME=elastic
TAG_STORAGE_ELASTIC_PASSWORD=elastic