MEDIA_EMBEDDING_PROJECTNAME=
AUDIO_STT_PROJECTNAME=

MEDIA_STORAGE_ENDPOINT=localhost:9000
MEDIA_STORAGE_ACCESSKEY=minio123
MEDIA_STORAGE_SECRETKEY=minio123

TEMP_STORAGE_ENDPOINT=localhost:9000
TEMP_STORAGE_ACCESSKEY=minio123
TEMP_STORAGE_SECRETKEY=minio123

METADATA_DB_ELASTIC_ADDRESSES=http://localhost:9200
METADATA_DB_ELASTIC_USERNAME=elastic
METADATA_DB_ELASTIC_PASSWORD=elastic

TAG_DB_ELASTIC_ADDRESSES=http://localhost:9200
TAG_DB_ELASTIC_USERNAME=elastic
TAG_DB_ELASTIC_PASSWORD=elastic

FFMPEG_BINARY=
FFMPEG_CPULIMIT=
FFMPEG_THREADSLIMIT=